* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: larger;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("cool.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 30vh;
    color: aliceblue
    ;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("sleep.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}